[Unit]
Description=Trainclock API
After=network.target

[Service]
User=trainclock
WorkingDirectory=%h/TrainClock/server
ExecStart=/usr/bin/node %h/TrainClock/server/server.js
StandardOutput=append:%h/TrainClock/server/server.log
StandardError=append:%h/TrainClock/server/server.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
