[Unit]
Description=Trainclock API
After=network.target

[Service]
User=trainclock
WorkingDirectory=/home/trainclock/TrainClock/server
ExecStart=/usr/bin/node /home/trainclock/TrainClock/server/server.js
StandardOutput=append:/home/trainclock/TrainClock/server/server.log
StandardError=append:/home/trainclock/TrainClock/server/server.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
